manifest {
    mainScript = 'main.nf'
    nextflowVersion = '>=23.04.1'
}


// default parameters

params {
	// necessary parameters
	inputdir = null
	series = null

	// other important parameters
	outputdir = "$projectDir/output"
	use_external_ref = true
	use_idmapping = false
	use_custom_region = false
	genome = "hg38"
	
	// input & output file name
	cohort_assign_file = "cohort-assignment.txt"
	prior_file = "cohort-cna-pattern.txt"
	idmapping_file = "sampleid-mapping.txt"
	region_file = "cohort-cna-region.txt"
	output_seg = "result.seg.txt"
	output_plot = "segments.pdf"


	// criteria for identifing potential problematic profiles
	
	// abnormal baselines
	// strict criteria
	logrsd = 0.35
	cnafrac = 0.5
	dupdelratio = 3

	// relaxed criteria which doesn't consider signal sd
	cnafrac2 = 0.2
	dupdelratio2 = 5

	// relaxed criteria which only consider large cnafrac
	cnafrac3 = 0.7

	// cut-off thresholds for noisy samples 
	segnum = 1000
	lowthre = "0.1,0.15,0.3"
	highthre = "1,1.5,2"
}



profiles {
    docker {
    	process.container = 'hj12345/cnadjust'
        docker.enabled = true
    }
}

// By default errorStrategy is "terminate", if you want to continue for other tasks in parallel execution, remove the following comment. The subsequent process in the problematic task would not be executed.

//process {
//	errorStrategy = 'ignore' 
//}

manifest.defaultBranch = 'main'
