manifest {
    mainScript = 'main.nf'
    nextflowVersion = '>=23.04.1'
}


// default parameters

params {
	// necessary parameters
	series = null
	inputdir = null

	// other important parameters
	outputdir = "$projectDir/output"
	idmapping = true
	usetumorref = true
	genome = "hg38"
	
	// input & output file name
	outputfilename = "segments,cn.tsv"
	outputplotname = "labelsegments.pdf"
	idmappingfilename = "sampleid-mapping.txt"
	tumorcodefilename = "oncology-code.txt"
	priorfilename = "prior-prob.txt"

	// criteria for identifing potential problematic profiles
	
	// abnormal baselines
	// strict criteria
	logrsd = 0.35
	lowfrac = 0.5
	dupdelratio = 3

	// relaxed criteria which doesn't consider signal sd
	lowfrac2 = 0.2
	dupdelratio2 = 5

	// relaxed criteria which only consider large cnafrac
	lowfrac3 = 0.7

	// cut-off thresholds for noisy samples 
	segnum = 1000
	lowthre = "0.1,0.15,0.3"
	highthre = "1,1.5,2"
}



profiles {
    docker {
    	process.container = 'hj12345/cnadjust'
        docker.enabled = true
    }
}

// By default errorStrategy is "terminate", if you want to continue for other tasks in parallel execution, remove the following comment. The subsequent process in the problematic task would not be executed.

//process {
//	errorStrategy = 'ignore' 
//}

